# Pandas - Python Data Analysis

## Upgrade PIP

Windows

    python -m pip install -U pip

Linux
   
    pip install -U pip

### Install Packages if required

In [1]:
!pip install wheel

Requirement already satisfied (use --upgrade to upgrade): wheel in c:\anaconda\lib\site-packages

## Importing required libraries

In [ ]:
%matplotlib inline
from pandas import *
from pylab import *
import pandas
import numpy as np
import matplotlib.pyplot as plt

def side_by_side(*objs, **kwds):
    from pandas.core.common import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print adjoin(space, *reprs)

plt.rc('figure', figsize=(10, 6))
# pandas.set_printoptions(notebook_repr_html=False)

In [ ]:
plt.plot([1,2,4,8,16])

Series
======

In [ ]:
np.random.randn(5)

In [ ]:
labels = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(np.random.randn(5), index=labels)

In [ ]:
'b' in s

In [ ]:
s['b']

In [ ]:
s.index

In [ ]:
s

In [ ]:
mapping = s.to_dict()
mapping

In [ ]:
s = pd.Series(mapping, index=['b', 'e', 'a', 'd', 'f'])
s

In [ ]:
notnull(s)

In [ ]:
s[notnull(s)]

In [ ]:
s.dropna()

In [ ]:
s * 2

In [ ]:
s[3:]

In [ ]:
s[:3]

In [ ]:
s.index

DataFrame: 2D collection of Series
==================================

In [ ]:
df = DataFrame({'a': np.random.randn(6),
                'b': ['foo', 'bar'] * 3,
                'c': np.random.randn(6)})
df['d'] = range(6)
df

In [ ]:
df['b']    # by column

In [ ]:
df[:3]

In [ ]:
df[:-2]

In [ ]:
df[-2:]   # the last 2 rows

In [ ]:
df[['a','b']]

In [ ]:
np.tile(['foo', 'bar'], 3)   # in numpy

In [ ]:
df.xs(0)   # returning the first row

In [ ]:
df.ix[2]    # does equal thing as above. In this case, 3rd row.

In [ ]:
df.ix[2, 'b']

In [ ]:
timeit df.ix[1]

In [ ]:
df.get_value(2, 'b')

In [ ]:
timeit df.ix[2, 'b']

In [ ]:
timeit df.get_value(2, 'b')

In [ ]:
df.ix[2:4, 'b']

In [ ]:
df.ix[2:4, ['b', 'c']]

In [ ]:
df.ix[2:4, 'b':'c']   # slices by column - essentially the same as above.

In [ ]:
df.ix[2:4, 0:2]

In [ ]:
df.ix[[0, 2, 4], ['b', 'c', 'd']]   # pass a list of rows and columns I want to select out

In [ ]:
df['c'] > 0

In [ ]:
df.ix[df['c'] > 0]   # boolean arrays

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
pandas.date_range('1/1/2000',periods=6)

In [ ]:
df = DataFrame({'a': np.random.randn(6),
                'b': ['foo', 'bar'] * 3,
                'c': np.random.randn(6)},
               index=pandas.date_range('1/1/2000', periods=6))
df

In [ ]:
df = DataFrame({'a': np.random.randn(6),
                'b': ['foo', 'bar'] * 3,
                'c': np.random.randn(6)},
               columns=['a', 'b', 'c', 'd'])
df

In [ ]:
isnull(df)

Creation from nested dicts
--------------------------

These arise naturally in Python code

In [ ]:
data = {}
for col in ['foo', 'bar', 'baz']:
    for row in ['a', 'b', 'c', 'd']:
        data.setdefault(col, {})[row] = np.random.randn()   # sorted cols: bar, baz, foo
data

In [ ]:
del data ['foo']['c']   # delete an entry by index key (col) and row.

In [ ]:
DataFrame(data)   # pass a dict

Data alignment
==============

In [ ]:
close_px = read_csv('stock_data.csv', index_col=0, parse_dates=True)

In [ ]:
!head -n 10 stock_data.csv

In [ ]:
!head  stock_data.csv

In [ ]:
close_px

In [ ]:
s1 = close_px['AAPL'][-20:]      # the last 20 rows
s2 = close_px['AAPL'][-25:-10]   # the last 25 - last 10 = 15 rows.
side_by_side(s1, s2)

In [ ]:
s1 + s2

In [ ]:
s1.add(s2, fill_value=0)

In [ ]:
(s1 + s2).dropna()

In [ ]:
df = close_px.ix[-10:, :3]
df

In [ ]:
side_by_side(s1.reindex(s2.index), s2)   # align indexes of s1 and s2. Print 2 objects alongside each other.

In [ ]:
side_by_side(s1.ix[s2.index], s2)   # same as above, supported in newer version of 0.12 ipython.

In [ ]:
b, c  = s1.align(s2, join='inner')
side_by_side(b, c)

In [ ]:
b, c  = s1.align(s2, join='outer')
side_by_side(b, c)

b, c  = s1.align(s2, join='right')
side_by_side(b, c)

In [ ]:
df = close_px.ix[-10:, ['AAPL', 'IBM', 'MSFT']]
df

In [ ]:
df2 = df.ix[::2, ['IBM', 'MSFT']]
side_by_side(df, df2)

In [ ]:
df + df2

In [ ]:
b, c = df.align(df2, join='inner')
side_by_side(b, c)

Transposing: no copy if all columns are same type
-------------------------------------------------

In [ ]:
df[:5].T

Columns can be any type
-----------------------

In [ ]:
n = 10
foo = DataFrame(index=range(n))
foo['floats'] = np.random.randn(n)
foo['ints'] = np.arange(n)
foo['strings'] = ['foo', 'bar'] * (n / 2)
foo['bools'] = foo['floats'] > 0
foo['objects'] = pandas.date_range('1/1/2000', periods=n)
foo

In [ ]:
foo.dtypes

N.B. transposing is not roundtrippable in this case (column-oriented data structure)

In [ ]:
foo.T.T

In [ ]:
foo.T.T.dtypes

Function application
====================

You can apply arbitrary functions to the rows or columns of a DataFrame

In [ ]:
df

In [ ]:
df.apply(np.mean)

In [ ]:
df.mean()   # same as above.   df.mean? to look up the function usage.

In [ ]:
df.mean(1)   # get the mean of the rows based on a column. Also excludes missing data (NaN: not a number).

In [ ]:
df.mean(1, skipna=False)   # flag skipna: to include NaN. In this data, no NaN.

In [ ]:
df.apply(np.mean, axis=1)   # same as above.

You can get as fancy as you want

In [ ]:
close_px    # Output: 1000 rows.

In [ ]:
close_px.AAPL   # For easier typing, after dot ., use tab to select the name of the stock.

In [ ]:
close_px.AAPL.idxmax() # gives index of its maximum value.

In [ ]:
close_px.AAPL.index[1]

In [ ]:
#close_px.AAPL.index[close_px.AAPL.argmax()]    # If you are numpy aficionado, does the same thing.

In [ ]:
close_px.AA.idxmax()

def peak_date(series):
    return series.idxmax()

In [ ]:
close_px.apply(peak_date)

In [ ]:
for column in close_px:
    print close_px[column].max()

In [ ]:
def peak_date(series):
    return series.idxmax()    # new method: series.idxmax()
close_px.apply(peak_date, axis=0)

In [ ]:
df.apply(lambda x: x.max())

In [ ]:
df.apply(lambda x: x.max() - x.min()) # np.ptp

In [ ]:
np.log(close_px)

Hierarchical indexing
------------------------

In [ ]:
index = MultiIndex(levels=[['foo', 'bar', 'baz', 'qux'],
                                   ['one', 'two', 'three']],
                           labels=[[0, 0, 0, 1, 1, 2, 2, 3, 3, 3],
                                   [0, 1, 2, 0, 1, 1, 2, 0, 1, 2]])
hdf = DataFrame(np.random.randn(10, 3), index=index,
                columns=['A', 'B', 'C'])
hdf

In [ ]:
hdf.ix['foo']

In [ ]:
hdf.ix['foo'] = 0
hdf

In [ ]:
hdf.ix['bar','one']['A']

Stacking and unstacking
-----------------------

In [ ]:
tuples = zip(*[['bar', 'bar', 'baz', 'baz',
                'foo', 'foo', 'qux', 'qux'],
               ['one', 'two', 'one', 'two',
                'one', 'two', 'one', 'two']])
index = MultiIndex.from_tuples(tuples)
columns = MultiIndex.from_tuples([('A', 'cat'), ('B', 'dog'),
                                  ('B', 'cat'), ('A', 'dog')])
df = DataFrame(np.random.randn(8, 4), index=index, columns=columns)
df

In [ ]:
df2 = df.ix[[0, 1, 2, 4, 5, 7]]
df2

In [ ]:
df.unstack()['B']

GroupBy
=======

In [ ]:
df = DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                       'foo', 'bar', 'foo', 'foo'],
                'B' : ['one', 'one', 'two', 'three',
                       'two', 'two', 'one', 'three'],
                'C' : np.random.randn(8),
                'D' : np.random.randn(8)})
df

In [ ]:
for key, group in df.groupby('A'):
    print key
    print group

In [ ]:
df.groupby('A')['C'].describe().T

In [ ]:
df.groupby('A').mean()

In [ ]:
for key, group in df.groupby('A'):
    print key
    print group

In [ ]:
df.groupby(['A', 'B']).mean()

In [ ]:
#df.groupby(['A', 'B'], as_index=False).mean()

In [ ]:
df.stack()

In [ ]:
#df.stack().mean(1).unstack()

In [ ]:
#df.groupby(level=1, axis=1).mean()